<div class="container my-5">
    <article class="row">
        <div class="col-12 col-sm-6 col-md-8">
            <a href="#" data-bs-toggle="modal" data-bs-target="#kittenPictureModal">
                <img src="<%= @kitten.image_url %>" class="img-fluid kitten-img" alt="">
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <h1><%= @kitten.name %></h1>
            <h3><%= @kitten.price %> €</h3>
            <p><%= @kitten.description %></p>
            <p>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#kittenPictureModal">
                    Agrandir l'image
                </button>
            </p>
        </div>
    </article>
</div>

<!-- Modal -->
<%= render :partial => "picture_modal_xl", :object => @kitten %>