<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Bonjour <%= @user.firstname %>,</h1>
        <p>Nous te remercions pour ta commande.</p>
        <p>Tu peux récupérer ta commande en pièce-jointe de cet email.</p>
        <p>Pour accéder à ton espace client, connecte-toi via : <%= @url %>.</p>
        <p> À très vite sur monsite.fr !</p>
        <% total = 0 %>
        <% @order.line_items.each do |order| %>
            <img src="<%= order.kitten.picture %>">
            <p><%= order.price %></p>
            <p><% total+=order.kitten.price %></p>
        <% end %>
        <p><%= total / 100.0 %> €</p>
    </body>
</html>