<div class="container d-flex flex-column align-items-center mb-5">
    <h1 class="mt-5">Modifier ton profil</h1>
    <div class="mw-form mt-5">
        <p>Prénom : <%= current_user.firstname %></p>
        <p>Nom : <%=current_user.lastname %></p>
        <p>Email : <%=current_user.email %></p>
        <div class="mt-5">
            <h3>Mes commandes</h3>
            <% current_user.charges.each do |charge| %>
                <% order_id = charge.order_id %>
                <ul class="border-bottom border-dark py-2">
                    <li>
                        <%= charge.stripe_id %>
                    </li>
                    <li>
                        <ul class="d-flex">
                            <% Order.find(order_id).line_items.each do |pic| %>
                                <% if pic.kitten.picture.attached? %>
                                    <li class="mt-1">
                                        <%= image_tag pic.kitten.picture, alt: 'photo', class: 'card-picture border-bottom border-dark mx-1 my-1' %>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </li>
                </ul>
            <% end %>
        </div>
        <div class="mt-5">
            <a href="<%= edit_user_registration_path %>" class ="btn btn-danger me-1">Modifier mon compte</a>
            <a href="<%= edit_user_path(current_user.id) %>" class ="btn btn-success">Modifier mon blaze</a>
        </div>
    </div>
</div>